# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Banco de dados
database/*.db
database/*.db-journal
*.sqlite
*.sqlite3

# Backups
backups/
*.sql

# IDE
.vscode/
.idea/
*.swp
*.swo

# Ambiente
.env
.env.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db
